---
import lightLogo from '~/assets/images/logo-light.svg'
import darkLogo from '~/assets/images/logo-light.svg'
---

<div class="inline-block w-32"> 
    <img class="block dark:hidden" src={lightLogo} alt="Logo" />
    <img class="hidden dark:block" src={darkLogo} alt="Logo" />
</div>
